
<div class="container" style="max-width: 50%;">
  <h1>Edit Recipe</h1>
  <%= form_with model: @recipe, url: recipe_path, method: :patch do |form| %>
    <!-- Name -->
      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      
    <!-- Recipe Type -->
      <%= form.hidden_field :recipe_type, value: :cocktail %>

    <!-- Tags -->
      <div class="row row-cols-auto mb-3">
        <%= form.label :tag_ids, "Tags" %>
        <div class="form-check" style="max-height: 120px; overflow-y: auto;">
          <%= form.collection_check_boxes :tag_ids, @tags, :id, :name do |box| %>
            <div class="col-2 form-check form-check-inline">
              <%= box.check_box(class: "form-check-input") %>
              <%= box.label(class: "form-check-label") %>
            </div>
          <% end %>
        </div>
      </div>

    <!-- Ingredients -->
      <div class="mb-3">
        <%= label_tag :ingredients, "Ingredients (one per line)", class: "form-label" %>
        <%= text_area_tag "recipe[ingredients]", @recipe.ingredients&.join("\n"), class: "form-control", rows: 4 %>
      </div>

    <!-- Direcitons -->
      <div class="mb-3">
        <%= form.label :directions, "Directions", class: "form-label" %>
        <%= form.text_area :directions, class: "form-control", rows: 4 %>
      </div>

    <!-- Update and Destroy Btns -->
      <div class="d-flex justify-content-between align-items-center mt-4">
        <%= form.submit "Update Recipe", class: "create-btn" %>
    <% end %>
        <%= form_with(model: @recipe, method: :delete, html: { onsubmit: "return confirm('Are you sure you want to delete this recipe?');", class: "d-inline" }) do %>
          <%= submit_tag "Delete Recipe", class: "delete-btn" %>
        <% end %>
      </div>
</div>
