<!doctype html>
<html lang="en">

<head>
  <title>Home</title>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body">
  <div class="container-fluid">
    <%= link_to "Home", home_path, class: "navbar-brand ms-3 me-4"%>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item me-2"><%= link_to "Food", food_path, class: "btn-nav" %></li>
        <li class="nav-item"><%= link_to "Cocktails", cocktails_path, class: "btn-nav" %></li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success">Search</button>
      </form>
    </div>
  </div>
</nav>

<br>

<div class="container-fluid" style="margin-top: 5rem;">
  <div class="row row-cols-auto justify-content-center">
    <div class="col mb-4">
    <%= link_to recipes_path, class: 'card-btn' do %>
      <div class="card shadow p-4 bg-body rounded h-100" style="width: 24rem;">
        <div class="card-body">
          <h2 class="card-title fs-2" style="margin-bottom: .25rem;">Food Recipes</h2>
          <div>
            <p class="card-text fs-5">Explore an array of comforting food recipes! From savory pastas and hearty stews to crispy french fries and mouthwatering snacks, these dishes are perfect for family dinners or solo indulgence. Find your next go-to recipe and get cooking today!</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col mb-4">
    <%= link_to recipes_path, class: 'card-btn' do %>
      <div class="card shadow p-4 bg-body rounded h-100" style="width: 24rem;">
        <div class="card-body">
          <h2 class="card-title fs-2" style="margin-bottom: .25rem;">Food Ingredient Recipes</h2>
          <div>
            <p class="card-text fs-5">Get creative with your kitchen staples! Our ingredient-based recipes focus on versatile items like spices, herbs, vegetables, and more. Learn how to turn simple ingredients into extraordinary dishes, including delicious dressings, sauces, and unique creations!</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

</body>
</html>
