<!doctype html>
<html lang="en">

<head>
  <title>Home</title>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body">
  <div class="container-fluid">
  <!-- Home Button -->
    <%= link_to "Home", home_path, class: "navbar-brand ms-3 me-4"%>
  <!-- Collapsable -->
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
    <!-- Navigation Buttons -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item me-2"><%= link_to "Food", home_path, class: "nav-btn" %></li>
        <li class="nav-item"><%= link_to "Cocktails", recipes_path, class: "nav-btn" %></li>
      </ul>
    </div>
  <!-- Sign in/out -->
    <ul class="navbar-nav">
    <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Hi, #{current_user.email}", edit_user_registration_path, class: "nav-link #{active_class(edit_user_registration_path)} btn btn-link" %></li>
      <li class="nav-item"><%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'nav-link btn btn-link' %></li>
    <% else %>
      <li class="nav-item"><%= link_to 'Sign In', new_user_session_path, class: "nav-link #{active_class(new_user_session_path)} btn btn-link" %></li>
      <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: "nav-link #{active_class(new_user_registration_path)} btn btn-link" %></li>
    <% end %>
    </ul>
  </div>
</nav>

<br>

<div class="container-fluid" style="margin-top: 5rem;">
  <div class="row row-cols-auto justify-content-center">
    <div class="col mb-4">
    <%= link_to recipes_path, class: 'card-btn' do %>
      <div class="card shadow p-4 bg-body rounded h-100" style="width: 24rem;">
        <div class="card-body">
          <h2 class="card-title fs-2" style="margin-bottom: .25rem;">Food Recipes</h2>
          <div>
            <p class="card-text fs-5">Explore an array of comforting food recipes! From savory pastas and hearty stews to crispy french fries and mouthwatering snacks, these dishes are perfect for family dinners or solo indulgence. Find your next go-to recipe and get cooking today!</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col mb-4">
    <%= link_to recipes_path, class: 'card-btn' do %>
      <div class="card shadow p-4 bg-body rounded h-100" style="width: 24rem;">
        <div class="card-body">
          <h2 class="card-title fs-2" style="margin-bottom: .25rem;">Cocktail Recipes</h2>
          <div>
            <p class="card-text fs-5">Ready to impress your guests? Dive into our collection of cocktail recipes, featuring a variety of drinks from sweet, fruity concoctions to strong, classic recipes. Whether you're hosting a party or enjoying a quiet evening, there's something for every occasion!</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col mb-4">
    <%= link_to recipes_path, class: 'card-btn' do %>
      <div class="card shadow p-4 bg-body rounded h-100" style="width: 24rem;">
        <div class="card-body">
          <h2 class="card-title fs-2" style="margin-bottom: .25rem;">Food Ingredient Recipes</h2>
          <div>
            <p class="card-text fs-5">Get creative with your kitchen staples! Our ingredient-based recipes focus on versatile items like spices, herbs, vegetables, and more. Learn how to turn simple ingredients into extraordinary dishes, including delicious dressings, sauces, and unique creations!</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="col mb-4">
    <%= link_to recipes_path, class: 'card-btn' do %>
      <div class="card shadow p-4 bg-body rounded h-100" style="width: 24rem;">
        <div class="card-body">
          <h2 class="card-title fs-2" style="margin-bottom: .25rem;">Cocktail Ingredient Recipes</h2>
          <div>
            <p class="card-text fs-5">Elevate your mixology game with cocktail ingredient recipes. Explore how to make syrups, infusions, and other essential cocktail elements to create the perfect drink. Ideal for those looking to experiment with flavors and craft their own signature recipes!</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

</body>
</html>
