<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Digital Recipe Book" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Includes all stylesheet files in app/assets/stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Flash Messages  -->
      <div class="flash-container position-fixed top-0 start-50 translate-middle-x mt-3">
        <% flash.each do |type, message| %>
          <% bootstrap_class = case type.to_sym
            when :notice then "primary"
            when :alert then "danger"
            when :error then "danger"
            when :success then "success"
            when :warning then "warning"
            when :info then "info"
            else "primary"
          end %>

          <div class="alert alert-<%= bootstrap_class %> alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>

    <!-- Main Layout -->
      <main role="main" class="container-fluid">
        <%= render partial: "layouts/navbar", locals: { tags: @tags } %>
        <%= yield %>
      </main>
  </body>
</html>
